html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
}

body {
    padding: 1em;
}	

img {
    height: auto;
    width: 100%;
}

.media-item-title,
.media-item-thumb,
.media-item-content {
    border: solid 1px red;
}

.media-item-title { /*grid-template-areas prop için*/
    grid-area: title;
}

.media-item-thumb {
    grid-area: thumbnail;
}

.media-item-content {
    grid-area: content;
}

.media-container {
    display: grid;
    grid: 1fr 1em 2.5fr / auto 1em auto; 
    /*fr stands 4 fractional unit*/
    grid-template-areas: "title title title"
                         ". . ."
                         "thumbnail . content";
}