html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

body {
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 0;
}

/*for overall page layout*/
.grid-container {
    display: grid;
    height: calc(100vh - 2em); /*calc is a specific css function*/
/*we can refer to our grid lines with names.
it might be helpful for creating overall page layout.*/
    grid: 13% 1em 85% / /*alt1*/
          [main-content-start] 2.5fr 
          [main-content-end] 1em 
          [sidebar-start] 1fr 
          [sidebar-end]; /*[sidebar-end] denmese de olur*/
}

.grid-item-content {
    background-color: #9BC850;
    grid-row: 3 / 4; 
    grid-column: main-content-start / main-content-end;
    /*grid-column: 1 / 2;*/ /*alt*/
}

.grid-item-sidebar {
    background-color: #9BC850;
    grid-row: 3 / 4;
    grid-column: sidebar-start / sidebar-end; 
    /*grid-column: 3 / 4;*/ /*alt*/
}

.grid-item-header{
    background-color: #A62E5C;
    grid-row: 1 / 2;
    grid-column: main-content-start / sidebar-end;
    /*grid-column: 1 / 4;*/ /*alt*/
}

.grid-item {
	color: #fff;
    box-sizing: border-box;
	font-size: 1.2em;
	padding: 1em;
    overflow: hidden;
	text-align: center;
}

.grid-item strong {
	display: block;
	font-size: 130%;  
}
/*alt1: sadeleştirmek adına grid-gap kullanılabilir (grid-item-sidebar ve
grid-item-content selectorlerindeki grid-row ve grid-column prop değiştirilmeli):
13% 85% / [main-content-start] 2.5fr [sidebar-start] 1fr [sidebar-end]
grid-gap:1em
*/