html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

body {
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 0;
}

/*for overall page layout*/
.grid-container {
    display: grid;
    height: calc(100vh - 2em); /*calc is a specific function*/
    /*we can refer to our grid lines with names
    it might be helpful for creating overall page layout.*/
    grid: [main-content-start] 1fr 
          [main-content-end] 1em 
          [sidebar-start] 25% 
          [sidebar-end] / 
          6em 1em 1fr;
          /*1fr is one fractional unit, which is a way of saying 
            the remaining space in the element.*/
}

.grid-item-content {
    background-color: #9BC850;
    grid-row: 3 / 4; 
    /*3. grid line'dan 4. grid line'a uzadığı için 
    container ne kadar uzarsa item da o kadar uzar*/
    grid-column: main-content-start / main-content-end;
    /*main-content-end yerine main-content-start dense de sonuç değişmezdi*/
}

.grid-item-sidebar {
    background-color: #9BC850;
    grid-row: 3 / 4;
    grid-column: sidebar-start / sidebar-end; 
    /*sidebar-end yerine 3 veya 4 de denebilirdi*/
}

.grid-item-header{
    background-color: #A62E5C;
    grid-row: 1 / 2;
    grid-column: main-content-start / sidebar-end;
}

.grid-item {
	color: #fff;
    box-sizing: border-box;
	font-size: 1.2em;
	padding: 1em;
    overflow: hidden;
	text-align: center;
}

.grid-item strong {
	display: block;
	font-size: 130%;  
}	