html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.grid-container {
	border: solid 4px #000;
    display: grid; /*this container spreads the entire width just like a block level element would. 
    also forces the grid items to take only the space they need and stack on top of each other*/
	/*display: inline-grid;*/ /*with inline-grid our grid container takes as much space as our grid items require*/
}

.grid-item {
	color: #fff;
    box-sizing: border-box;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
}

.grid-item-01 {
	background-color: #A62E5C;
}

.grid-item-02 {
	background-color: #9BC850;
}

.grid-item-03 {
	background-color: #675BA7;
}

.grid-item-04,
.grid-item-08 {
	background-color: #2A9FBC;
}

.grid-item-05 {
	background-color: #F15B2A;
}

.grid-item-06 {
	background-color: #675BA7;
}

.grid-item-07 {
	background-color: #A62E5C;
}

.grid-item strong {
	display: block; /*yeni satıra başlar*/
	font-size: 130%;  
}	