html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

body {
    display: flex;/*flexbox makes height straight no matter what content is*/
    padding: 1em;
}

.item {
    background-color: #A62E5C;
	color: #fff;
    box-sizing: border-box;
    flex: 1; /*flex 1 denmeseydi width contente göre değişecekti*/
	font-size: 1.2em;
	padding: 1em;
}

.item:nth-child(even) {
	background-color: #9BC850;
}