html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

body {
    box-sizing: border-box;
    color: #fff;
    font-size: 80%;
    padding: 1em;
    height: 100vh;
    display: flex;
	flex-direction: column;/*flex-itemları 3 rowa ayırır 
    (header, main ve footer için)*/
}

main {
	/* flex-box might also be used to give layout */
    height: 100%;
    display: flex;
	/* body'nin flex-item'ı iken nav, article ve aside'ın flex-container'ı */
}

article { /*main content*/
    background-color: lightblue;
    flex: 2 2 12em;
    order: -1;
}

nav,
aside {
    flex: 1; /* shorthand 4 flex-grow: 1 flex-shrink:1 flex-basis: 0% */
}

/* responsiveness added, we stack items when they would break */
@media screen and (max-width: 500px) {
    
    main {
        flex-direction: column;
    }
    
}

h1 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

header,
nav,
article,
aside,
footer {
    box-sizing: border-box;
	padding: 1em;
    text-align: center;
}

header,
footer {
    height: 3.3em;
}

header {
    background-color: #A62E5C;
}

nav {
    background-color: #9BC850;
}

aside {
    background-color: #2A9FBC;
}

footer {
    background-color: #F15B2A;
}